.posts {
	display: flex;
	justify-content: space-between;
	padding: 1rem 1.5rem;
	line-height: 1.2;
	
	&__article {
		flex:0 0 25%;
		padding: 0 1.5rem;
	}
	
	&__article:hover &__image-box img {
		transform: scale(1.1);
	}
	
	&__image-box {
		overflow: hidden;
		margin-bottom: 2rem;
		
		& img {
			display: block;
			height: 100%;
			transition: all .3s;
		}
	}
	
	& a {
		display: block;
		padding: 2rem 0;
		font-size: 1.6rem;
		font-weight: 600;
		color: $color-grey-dark;
		transition: all .3s;
		
		&:first-of-type {
			margin-bottom: 2rem;
			border-bottom: 1px solid $border-bottom;
			
			&:hover {
				color: $color-primary;
			}
		}
		
	}
	
	& p {
		margin-bottom: 2rem;
	}
}