.social {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;

	@include respond(phone) {
		flex-direction: column;	
	}
	
	&__contacts {
		font-size: 1.2rem;
		font-weight: 300;
		line-height: 1.625;

		@include respond(tab-port) {
			font-size: 1.8rem;
		}

		@include respond(phone) {
			font-size: 2rem;	
		}
		
		& > :first-child {
			margin-right: 1rem;
		}
		
		& a {
			color: $color-white;
		}
	}
}

.social-list {
	display: flex;

	@include respond(phone) {
		margin-top: 1.5rem;
	}

	@include respond(phone) {
		margin: 1rem 0;
	}
	
	&__item {
		margin-right: 1.5rem;
		display: flex;
		align-items: center;
	}
	
	&__icon {
		width: 1.75rem;
		height: 1.75rem;
		fill: $color-white;
		cursor: pointer;
		transition: all .5s;

		@include respond(phone) {
			width: 2rem;
			height: 2rem;	
		}
		
		&_background {
			width: 3rem;
			height: 3rem;
			background-color: rgba(160, 160, 160, .1);
		}
		
		&:hover {
			fill: $color-primary;
		}
	}
}